@import "settings/variables";
@import "settings/customMediaQueries";

.modal-container--animated {
  @media (--tablet) {
    animation: showmodal 0.4s 0s;
    animation-fill-mode: forwards;
  }
}

.modal-overlay--animated {
  @media (--tablet) {
    animation: showOvarlay 0.2s 0s;
  }
}

@keyframes showmodal {
  from {top: -100%;}
  to {top: var(--top);}
}

@keyframes showOvarlay {
  from {opacity:  0;}
  to {opacity: 1;}
}
