@import "settings/variables";
@import "settings/customMediaQueries";

.modal-container {
  position: absolute;
  top: 3rem;
  width: var(--standardWidth);
  height: auto;
  background-color: var(--modalBackground);
  border-radius: var(--borderRadius);
}

.modal-overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayBackground);
}

.close-button {
  cursor: pointer;
  width: var(--closeButtonSize);
  height: var(--closeButtonSize);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
