@import "settings/variables";
@import "settings/customMediaQueries";
@import "./animations.css";

.modal-container {
  position: absolute;
  width: var(--standardWidth);
  height: auto;
  background-color: var(--modalBackground);
  border-radius: var(--borderRadius);
  max-height: var(--maxHeight);

  @media (--onlyMobile) {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* max-width has to be important to overwrite the style prop
    *  set in react for desktop/tablet max-width
    */
    max-width: var(--maxWidthMobile) !important;
  }

  @media (--tablet) {
    top: var(--top);
    max-height: var(--maxHeightTablet);
  }

  @media (--desktop) {
    max-height: var(--maxHeightDesktop);
  }
}

.scroll-locked {
  overflow: hidden;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayBackground);
}

.modal-content {
  overflow-y: scroll;
  max-height: calc(var(--maxHeight) - var(--closeButtonSize));

  @media (--tablet) {
    top: var(--top);
    max-height: calc(var(--maxHeightTablet) - var(--closeButtonSize))
  }

  @media (--desktop) {
    max-height: calc(var(--maxHeightDesktop) - var(--closeButtonSize));
  }
}

.header {
  width: 100%;
  height: var(--closeButtonSize);
}

.close-button {
  cursor: pointer;
  width: var(--closeButtonSize);
  height: var(--closeButtonSize);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
