:root {
  --standardWidth: calc(100% - 2rem);
  --borderRadius: calc(1rem/4);
  --modalBackground: white;
  --closeButtonSize: 32px;
  --top: 3rem;
  --maxHeight: calc(100vh - var(--top));
  --maxHeightTablet: calc(100vh - 3rem - var(--top));
  --maxHeightDesktop: calc(100vh - 4rem - var(--top));
  --maxWidthMobile: calc(100vw - 1rem);
}
